* {
  outline: none;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
}
.body_scroll {
  position: relative;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}
.header {
  height: 111px;
  background-color: #090d2d;
  display: flex;
  padding: 0 40px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
}
.header.active {
  position: fixed;
  z-index: 999999;
}
.header_logo {
  color: #fff254;
  font-family: "Open Sans Semibold";
  font-size: 24px;
  font-weight: 600;
}
.header_right-box {
  display: flex;
  align-items: center;
}
.header_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}
.header_info_number {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 20px;
  font-weight: 600;
}
.header_info_schedule {
  color: #fff254;
  font-family: "Open Sans Semibold";
  font-size: 12px;
  font-weight: 600;
}
.header_buttons {
  display: flex;
  align-items: center;
  justify-self: flex-end;
}
.header_buttons * {
  margin-left: 59px;
  cursor: pointer;
}
.header_buttons_phone {
  display: none;
}
.header_buttons_offer {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 14px;
  font-weight: 600;
  padding: 8px 10px;
  border-radius: 19px;
  background-color: #ff3f40;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.header_buttons_offer:hover {
  transform: scale(1.1);
}
.menu_container {
  position: absolute;
  padding: 30px;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  top: 111px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
  width: 100%;
  background-image: url('../img/menu_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}
.menu_container.active {
  position: fixed;
  opacity: 1;
  z-index: 9;
  visibility: visible;
  top: 111px;
  left: 0;
  bottom: 0;
  right: 0;
}
.menu_container_link {
  color: #fff;
  font-family: "Open Sans Semibold";
  font-size: 26px;
  font-weight: 600;
  margin: 16px 0;
  opacity: 0;
  transition: all 0.4 ease-out;
  visibility: hidden;
}
.menu_container_link.active {
  opacity: 1;
  visibility: visible;
}
.menu_container_link:hover {
  color: #e6db4f;
}
main {
  margin-top: 111px;
}
section.first {
  min-height: 100vh;
  background-image: url(../img/main_bg.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section.first img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
section.first .content {
  position: static;
}
section.first .planet_2 {
  position: absolute;
  top: 20px;
  right: 20%;
}
section.first .planet_3 {
  position: absolute;
  bottom: 20%;
  right: 530px;
  z-index: 3;
}
section.first .smesi {
  position: absolute;
  bottom: 90px;
  left: 15%;
  z-index: 3;
}
section.first .planet_dual {
  top: 0;
  left: 25%;
  position: absolute;
  z-index: 2;
}
section.first .content_image {
  position: absolute;
  bottom: 111px;
  right: 40px;
  width: 593.6px;
  height: 580px;
  z-index: 1;
}
section.first .content {
  max-width: 782px;
  padding-top: 200px;
  position: relative;
  z-index: 4;
}
section.first .content_title {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 32px;
  font-weight: 600;
}
section.first .content_search {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
section.first .content_search_box {
  border-radius: 20px;
  border: 1px solid #fff254;
  background-color: #ffffff;
  height: 39px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
section.first .content_search_box svg {
  widows: 18px;
}
section.first .content_search_box_input {
  height: 22px;
  color: #101142;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 0 5px;
  box-sizing: border-box;
  width: 45%;
  border: none;
}
section.first .content_search_box_input.house {
  width: 80px;
}
section.first .content_search_box.small {
  width: 30%;
  justify-content: center;
  cursor: pointer;
}
section.first .content_search_box.small .content_search_box_text {
  color: #101142;
  font-family: "Open Sans";
  font-size: 16px;
}
section.first .content_search_btn {
  height: 39px;
  border-radius: 20px;
  background-color: #fff254;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 18px;
  box-sizing: border-box;
  margin-left: 22px;
  cursor: pointer;
  border: none;
}
section.first .content_search_btn_text {
  opacity: 0.92;
  color: #101142;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
  margin-left: 17px;
}
section.first .activity {
  width: 100%;
  height: 111px;
  background-color: #090d2d;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
}
section.first .activity .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
section.first .activity_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
section.first .activity_container_box {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.first .activity_container_box.row {
  width: auto;
}
section.first .activity_container_box.row svg {
  margin-right: 20px;
}
section.first .activity_container_box_title {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 20px;
  font-weight: 600;
}
section.first .activity_container_box_text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  width: 100%;
  text-align: center;
}
section.first .activity_container_box_text.yellow {
  color: #fff254;
}
section.first .activity_container_box_text.date {
  width: auto;
}
section.first .activity_container_box_text.time {
  width: auto;
}
section.sales {
  padding: 60px 0;
}
section.sales .sales_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.sales .sales_container:first-child {
  margin-bottom: 100px;
}
section.sales .sales_container_title {
  color: #101142;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
}
section.sales .sales_container_count {
  color: #101142;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
}
section.sales .sales_container_count::before {
  content: '1234';
  color: #ff3f40;
}
section.sales .sales_container_card {
  width: 22%;
  background-image: url(../img/card.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 35px 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  border-top: 9px solid #fff254;
  position: relative;
}
section.sales .sales_container_card.provider {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: none;
  border-radius: 5px;
}
section.sales .sales_container_card .provider_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
section.sales .sales_container_card .provider_box_stars {
  margin-right: 10px;
}
section.sales .sales_container_card .provider_box_count {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
}
section.sales .sales_container_card .provider_table {
  width: 170px;
  position: absolute;
  top: -19px;
}
section.sales .sales_container_card .provider_table_img {
  width: 100%;
}
section.sales .sales_container_card .provider_table_text {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transform: translateY(-50%);
}
section.sales .sales_container_card .provider_circle {
  width: 161px;
  height: 161px;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 30px;
}
section.sales .sales_container_card .provider_circle_img {
  width: 100%;
}
section.sales .sales_container_card_circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 13px;
}
section.sales .sales_container_card_circle img {
  width: 100%;
}
section.sales .sales_container_card_btn {
  position: absolute;
  bottom: -17.5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 17px;
  background-color: #fff254;
  padding: 8px 32px;
  color: #101142;
  font-family: "Open Sans";
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 600;
}
section.sales .sales_container_card .card_title {
  margin-top: 15px;
  display: flex;
}
section.sales .sales_container_card .card_title_name {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  max-width: 145px;
}
section.sales .sales_container_card .card_title_sale {
  position: relative;
  width: 86px;
  transform: translateX(23px);
}
section.sales .sales_container_card .card_title_sale_image {
  width: 100%;
}
section.sales .sales_container_card .card_title_sale_text {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  top: 6px;
  left: 55%;
  transform: translateX(-50%);
}
section.sales .sales_container_card .card_condition {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
section.sales .sales_container_card .card_condition_box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  height: 60px;
}
section.sales .sales_container_card .card_condition_box:first-child {
  border-right: 1px solid #fff254;
}
section.sales .sales_container_card .card_condition_box_num {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 40px;
  font-weight: 600;
}
section.sales .sales_container_card .card_condition_box_text {
  color: #ff3f40;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
}
section.sales .sales_container_card .card_cost {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
}
section.sales .sales_container_card .card_cost_num {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 60px;
  font-weight: 600;
  margin-right: 5px;
}
section.sales .sales_container_card .card_cost_text {
  color: #ff3f40;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}
section.sales .sales_container_card .card_includes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
section.sales .sales_container_card .card_includes_title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}
section.sales .sales_container_card .card_includes_box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
section.sales .sales_container_card .card_includes_box_icon {
  margin-right: 10px;
}
section.sales .sales_container_card .card_includes_box_text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
}
section.connect {
  padding: 60px 0;
  position: relative;
  padding-bottom: 250px;
}
section.connect .connect_title {
  color: #101142;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}
section.connect .connect_container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
section.connect .connect_container_box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
section.connect .connect_container_box_img {
  margin-bottom: 30px;
  height: 62px;
}
section.connect .connect_container_box_text {
  text-align: center;
  color: #101142;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 22px;
}
section.connect .advantages {
  position: absolute;
  bottom: -200px;
  left: 0;
  right: 0;
}
section.connect .advantages .wrapper {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  border: 2px solid #ff3f40;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 28px 40px;
  padding-bottom: 48px;
  position: relative;
}
section.connect .advantages .wrapper .planet_3 {
  position: absolute;
  top: -90px;
  left: -90px;
}
section.connect .advantages .wrapper .planet_dual {
  position: absolute;
  bottom: -120px;
  right: -120px;
}
section.connect .advantages .wrapper .advantages_circle {
  width: 111px;
  height: 111px;
  padding: 25px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-image: linear-gradient(180deg, #252777 0%, #101142 100%);
}
section.connect .advantages .wrapper .advantages_circle img {
  height: 100%;
  margin-bottom: 0;
}
section.form {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section.form .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
section.form#form_1 {
  background-image: url(../img/form_bg.png);
  height: 740px;
}
section.form#form_2 {
  background-image: url(../img/form_2_bg.png);
  height: 740px;
  background-position: top center;
}
section.form#form_2 .form_title {
  text-align: center;
}
section.form#form_2 .form_container {
  margin-bottom: 60px;
}
section.form .form_title {
  color: #fff254;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
  max-width: 640px;
}
section.form .form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 410px;
  margin-top: 50px;
  justify-self: flex-end;
  margin-bottom: 30px;
}
section.form .form_container_input {
  border-radius: 20px;
  border: 1px solid #fff254;
  background-color: #ffffff;
  color: #101142;
  font-family: "Open Sans";
  font-size: 16px;
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: center;
}
section.form .form_container_box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}
section.form .form_container_box_check {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}
section.form .form_container_box_check:checked {
  border: 5px solid #2ecc71;
}
section.form .form_container_box_text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
}
section.form .form_container_btn {
  border-radius: 20px;
  background-color: #fff254;
  color: #101142;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
section.parthners {
  padding: 68px 0;
}
section.parthners .parthners_title {
  color: #101142;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 65px;
}
section.parthners .parthners_grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
section.parthners .parthners_grid_item {
  width: 22%;
  margin: 10px 0;
  opacity: 0.8;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
section.parthners .parthners_grid_item:hover {
  opacity: 1;
}
section.parthners .parthners_grid_item_image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
section.blog {
  padding: 60px 0;
}
section.blog .blog_title {
  color: #101142;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 60px;
  text-align: center;
}
section.blog .blog_box {
  display: flex;
  justify-content: space-between;
}
section.blog .blog_box_grid.row {
  width: 67%;
  display: flex;
}
section.blog .blog_box_grid.row .blog_box_grid_item {
  margin-right: 10px;
}
section.blog .blog_box_grid.column {
  width: 33%;
  display: flex;
  flex-direction: column;
}
section.blog .blog_box_grid.column .blog_box_grid_item:first-child {
  margin-bottom: 10px;
}
section.blog .blog_box_grid_item {
  z-index: 2;
  padding: 27px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
}
section.blog .blog_box_grid_item.w_65 {
  width: 65%;
  justify-content: center;
}
section.blog .blog_box_grid_item.w_65 .blog_box_grid_item_author {
  border-left: 1px solid #fff254;
}
section.blog .blog_box_grid_item.w_35 {
  width: 35%;
}
section.blog .blog_box_grid_item_title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  border-left: 1px solid #fff254;
}
section.blog .blog_box_grid_item_author {
  color: #fff254;
  font-family: "Open Sans";
  font-size: 15px;
  position: relative;
  z-index: 2;
  padding-left: 20px;
  margin-bottom: 20px;
}
section.blog .blog_box_grid_item_desc {
  color: #f0eeef;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}
section.blog .blog_box_grid_item_btn {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  position: relative;
  z-index: 2;
  align-self: flex-end;
  position: absolute;
  bottom: 30px;
  right: 28px;
}
section.blog .blog_box_grid_item .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #101142;
  opacity: 0.7;
  z-index: 1;
}
section.search {
  padding-bottom: 60px;
}
section.search .search_title {
  color: #101142;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
section.search .content_search {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 60px;
  max-width: 800px;
}
section.search .content_search_box {
  border-radius: 20px;
  border: 1px solid #101142;
  background-color: #ffffff;
  height: 39px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
section.search .content_search_box svg {
  widows: 18px;
}
section.search .content_search_box_input {
  height: 22px;
  color: #101142;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 0 5px;
  box-sizing: border-box;
  width: 45%;
  border: none;
}
section.search .content_search_box_input.house {
  width: 80px;
}
section.search .content_search_box.small {
  width: 30%;
  justify-content: center;
  cursor: pointer;
}
section.search .content_search_box.small .content_search_box_text {
  color: #101142;
  font-family: "Open Sans";
  font-size: 16px;
}
section.search .content_search_btn {
  height: 39px;
  border-radius: 20px;
  background-color: #ff3f40;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 18px;
  box-sizing: border-box;
  margin-left: 22px;
  cursor: pointer;
  border: none;
}
section.search .content_search_btn svg use {
  fill: #ffffff;
}
section.search .content_search_btn_text {
  opacity: 0.92;
  color: #fff;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
  margin-left: 17px;
}
footer {
  background-color: #090d2d;
  padding: 20px 0;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer_box {
  width: 22%;
}
footer .footer_box_title {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
}
footer .footer_box_list {
  padding-top: 27px;
}
footer .footer_box_list_item {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
footer .footer_box_list_item svg {
  margin-right: 10px;
}
footer .footer_box_list_item p,
footer .footer_box_list_item a {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
}
footer .footer_box_list_item a {
  cursor: pointer;
}
.call_modal {
  position: fixed;
  top: 111px;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999999999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-out;
}
.call_modal.active {
  opacity: 1;
  visibility: visible;
}
.call_modal_container {
  max-width: 500px;
  width: 100%;
  background: #101142;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transition: all 0.4s ease-out;
}
.call_modal_container.active {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.call_modal_container_title {
  color: #fff;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
.call_modal_container_name {
  height: 22px;
  color: #101142;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 0 5px;
  width: 45%;
  border: none;
  border-radius: 20px;
  border: 1px solid #fff254;
  background-color: #ffffff;
  height: 39px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 350px;
  margin-bottom: 20px;
  text-align: center;
}
.call_modal_container_phone {
  height: 22px;
  color: #101142;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 0 5px;
  width: 45%;
  border: none;
  border-radius: 20px;
  border: 1px solid #fff254;
  background-color: #ffffff;
  height: 39px;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 350px;
  text-align: center;
}
.call_modal_container_btn {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 17px;
  background-color: #fff254;
  padding: 8px 32px;
  color: #101142;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  margin-top: 50px;
  border: none;
  cursor: pointer;
}
section.first .wrapper.flex_404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
section.first .wrapper.flex_404 .title_404 {
  color: #e6db4f;
  font-family: "Open Sans Bold";
  font-size: 140px;
  font-weight: 700;
}
section.first .wrapper.flex_404 .desc_404 {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 32px;
  font-weight: 600;
}
section.blog_first {
  padding-top: 30px;
}
section.blog_first .blog_head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
section.blog_first .blog_head_text {
  margin: 0 5px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
}
section.blog_first .blog_head_text_main {
  font-family: "Open Sans Semibold";
  font-weight: 600;
}
section.blog_first .blog_head svg {
  margin: 0 5px;
}
section.blog_search {
  padding: 30px 0 60px 0;
}
section.blog_search .blog_content_search_box_img {
  height: 35px;
  margin-right: 5px;
}
section.blog_search .content_search_box_input_blog {
  border-left: 1px solid #101142;
}
section.blog_search .content_search_btn {
  background-color: #fff254;
}
section.blog_search .content_search_btn svg use {
  fill: #101142;
}
section.blog_search .content_search_btn_text {
  color: #101142;
}
section.blog_provider_image .blog_provider_image_item {
  max-width: 800px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
section.blog_choose {
  padding: 60px 0;
}
section.blog_choose .wrapper {
  display: flex;
}
section.blog_choose .wrapper .blog_choose_desc {
  width: 50%;
  box-sizing: border-box;
  padding: 20px 30px;
}
section.blog_choose .wrapper .blog_choose_desc_title {
  color: #090d2d;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}
section.blog_choose .wrapper .blog_choose_desc_author {
  color: #1c203d;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
section.blog_choose .wrapper .blog_choose_desc_text {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
}
section.blog_choose .wrapper .blog_choose_image {
  width: 50%;
}
section.blog_comment {
  padding-bottom: 60px;
}
section.blog_comment .wrapper {
  max-width: 1000px;
}
section.blog_comment .wrapper .modal {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  justify-content: flex-end;
}
section.blog_comment .wrapper .modal.active {
  position: static;
  opacity: 1;
  visibility: visible;
}
section.blog_comment .wrapper .modal .blog_comment_box {
  max-width: 900px;
  padding-left: 100px;
  box-sizing: border-box;
}
section.blog_comment .wrapper .blog_comment_title {
  color: #101142;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
section.blog_comment .wrapper .blog_comment_container {
  width: 100%;
}
section.blog_comment .wrapper .blog_comment_container_rate {
  display: flex;
  margin-top: 20px;
  box-sizing: border-box;
  padding-left: 46px;
  padding-right: 16px;
  align-items: center;
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_like {
  display: flex;
  margin-right: 10px;
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_like_count {
  opacity: 0.7;
  color: #407b00;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_like_icon {
  width: 16px;
  height: 18px;
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_dislike {
  margin-right: 50px;
  display: flex;
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_dislike_count {
  opacity: 0.7;
  color: #d0021b;
  margin-right: 5px;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_dislike_icon {
  width: 16px;
  height: 18px;
  transform: rotate(180deg);
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_answer {
  margin-right: 56px;
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_hide {
  cursor: pointer;
  display: flex;
  align-items: center;
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_hide_text {
  margin-right: 9px;
  opacity: 0.92;
  color: #232451;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
  width: 170px;
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_hide_icon {
  transform: rotate(180deg);
  transition: all 0.4s ease-out;
}
section.blog_comment .wrapper .blog_comment_container_rate .comment_rate_hide_icon.active {
  transform: none;
}
section.blog_comment .wrapper .blog_comment_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
section.blog_comment .wrapper .blog_comment_box_relative {
  position: relative;
}
section.blog_comment .wrapper .blog_comment_box_main {
  display: flex;
  width: 100%;
  margin-top: 60px;
}
section.blog_comment .wrapper .blog_comment_box_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.blog_comment .wrapper .blog_comment_box_profile_photo {
  border: 1px solid #000;
  border-radius: 100%;
  margin-bottom: 10px;
}
section.blog_comment .wrapper .blog_comment_box_profile_name {
  color: #000000;
  font-family: "Open Sans Semibold";
  font-size: 14px;
  font-weight: 600;
  width: 100px;
  margin-bottom: 10px;
}
section.blog_comment .wrapper .blog_comment_box_profile_rate {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  width: 100%;
}
section.blog_comment .wrapper .blog_comment_box_container {
  width: 100%;
  position: relative;
  z-index: 2;
  padding: 15px 0;
  padding-right: 16px;
  box-sizing: border-box;
  padding-left: 46px;
}
section.blog_comment .wrapper .blog_comment_box_container_img {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.blog_comment .wrapper .blog_comment_box_container_head {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
section.blog_comment .wrapper .blog_comment_box_container_head .comment_head_title {
  color: #000000;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
}
section.blog_comment .wrapper .blog_comment_box_container_head .comment_head_box {
  display: flex;
}
section.blog_comment .wrapper .blog_comment_box_container_head .comment_head_box_time {
  margin-right: 25px;
  opacity: 0.6;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
}
section.blog_comment .wrapper .blog_comment_box_container_head .comment_head_box_date {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
}
section.blog_comment .wrapper .blog_comment_box_container_text {
  position: relative;
  z-index: 2;
  opacity: 0.8;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
}
section.sales.internet .sales_container.internet_title {
  display: flex;
  justify-content: center;
}
section.internet_bg {
  height: 448px;
  background: url('../img/internet_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 30px;
  position: relative;
}
section.internet_bg .overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  background-color: #090d2d;
  opacity: 0.8;
  z-index: 1;
}
section.internet_bg .wrapper {
  max-width: 800px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
section.internet_bg .wrapper .internet_bg_title {
  color: #ffffff;
  font-family: "Open Sans Semibold";
  font-size: 36px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  align-items: center;
  text-align: center;
}
section.internet_bg .wrapper .internet_bg_title::after {
  content: '';
  height: 1px;
  background-color: #f3e857;
  width: 64px;
  margin-top: 40px;
}
section.internet_bg .wrapper .internet_bg_desc {
  color: #f0eeef;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
section.providers_list {
  padding: 60px 0;
}
section.providers_list .providers_list_title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
}
section.providers_list .providers_list_place {
  color: #000000;
  font-family: "Open Sans";
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
section.providers_list .providers_list_name {
  border-top: 1px solid #242433;
  border-bottom: 1px solid #242433;
  padding: 27px 0;
}
section.providers_list .providers_list_name .wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
section.providers_list .providers_list_name_link {
  color: #000000;
  font-family: "Open Sans";
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
section.providers_list .providers_list_card {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #242433;
}
section.providers_list .providers_list_card_image {
  width: 150px;
}
section.providers_list .providers_list_card_container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
  box-sizing: border-box;
  justify-content: space-between;
}
section.providers_list .providers_list_card_container .card_container_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
section.providers_list .providers_list_card_container .card_container_head_title {
  color: #000000;
  font-family: "Open Sans Semibold";
  font-size: 24px;
  font-weight: 600;
}
section.providers_list .providers_list_card_container .card_container_head_box {
  display: flex;
  align-items: center;
}
section.providers_list .providers_list_card_container .card_container_head_box_time {
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  margin-right: 30px;
}
section.providers_list .providers_list_card_container .card_container_head_box_tel {
  color: #000000;
  font-family: "Open Sans Semibold";
  font-size: 20px;
  font-weight: 600;
}
section.providers_list .providers_list_card_container .card_container_text {
  width: 60%;
  max-width: 620px;
}
section.providers_list .providers_list_card_container .card_container_text_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.providers_list .providers_list_card_container .card_container_text_box_title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
}
section.providers_list .providers_list_card_container .card_container_text_box_trafic {
  color: #000000;
  font-family: "Open Sans";
  font-size: 26px;
}
section.providers_list .providers_list_card_container .card_container_text_box_cost {
  font-family: "Open Sans";
  font-size: 26px;
}
section.providers_list .providers_list_card_container .card_container_text_desc {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  margin-top: 26px;
}
section.providers_list .providers_list_card_container .card_container_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.providers_list .providers_list_card_container .card_container_buttons_item {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #242433;
  background-color: #090d2d;
  opacity: 0.85;
  transition: all 0.2s ease-out;
}
section.providers_list .providers_list_card_container .card_container_buttons_item:hover {
  opacity: 1;
}
section.sravnenie {
  padding: 60px 0;
}
section.sravnenie .sravnenie_title {
  color: #000000;
  font-family: "Lucida Grande";
  font-size: 36px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  display: block;
}
section.sravnenie .sravnenie_table {
  padding-top: 68px;
  min-width: 500px;
}
section.sravnenie .sravnenie_table_header {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  box-sizing: border-box;
  padding-bottom: 20px;
  border-bottom: 1px solid #242433;
}
section.sravnenie .sravnenie_table_header_text {
  width: 30%;
  color: #000000;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
}
section.sravnenie .sravnenie_table_card {
  display: flex;
  justify-content: space-between;
  padding: 11px 0;
  align-items: center;
  border-bottom: 1px solid #242433;
}
section.sravnenie .sravnenie_table_card_logo {
  width: 80px;
}
section.sravnenie .sravnenie_table_card_box {
  width: 30%;
}
section.sravnenie .sravnenie_table_card_box_title.v_2-0 {
  opacity: 0.7;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
}
section.sravnenie .sravnenie_table_card_box.card_box_logo {
  display: flex;
  align-items: flex-start;
}
section.sravnenie .sravnenie_table_card_box.card_box_logo .box {
  margin-left: 15px;
}
section.sravnenie .sravnenie_table_card_box.card_box_logo .box .sravnenie_table_card_box_title {
  color: #000000;
  font-family: "Open Sans Semibold";
  font-size: 14px;
  font-weight: 600;
}
section.sravnenie .sravnenie_table_card_box.card_box_speed {
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
}
section.sravnenie .sravnenie_table_card_box.card_box_speed.succes {
  text-shadow: 0 0 3px #7ed321;
}
section.sravnenie .sravnenie_table_card_box.card_box_speed.error {
  text-shadow: 0 0 4px #d0021b;
}
section.sravnenie .sravnenie_table_card_box.card_box_cost {
  color: #000000;
  font-family: "Open Sans Semibold";
  font-size: 16px;
  font-weight: 600;
}
section.sravnenie .sravnenie_table_card_box.card_box_cost.succes {
  text-shadow: 0 0 4px #7ed321;
}
section.sravnenie .sravnenie_table_card_box.card_box_cost.error {
  text-shadow: 0 0 4px #d0021b;
}
section.sravnenie .sravnenie_table_card_box.card_box_rating {
  display: flex;
  align-items: center;
}
section.sravnenie .sravnenie_table_card_box.card_box_rating svg {
  width: 20px;
}
section.sravnenie .sravnenie_table_card_box_rating-text {
  color: #000000;
  font-family: "Open Sans";
  font-size: 20px;
  margin-left: 13px;
}
section.sravnenie .sravnenie_table_card_close {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
}
section.sravnenie .sravnenie_table_card_close svg {
  width: 20px;
}
section.sravnenie .sravnenie_table_card_close svg:hover path {
  fill: #d0021b;
}
section.sravnenie .sravnenie_table .card_rating {
  width: 100px;
}
