// out: ../css/media.css

@media screen and (max-width:1024px){
    .blog_box_grid.row{
        flex-direction: column;
    }
    section.blog .blog_box_grid_item.w_65{
        width: 100%;
        margin-bottom: 10px;
    }
    section.blog .blog_box_grid_item.w_35 {
        width: 100%;
    }
    section.blog .blog_box_grid.row{
        width: 49%;
    }
    section.blog .blog_box_grid.column{
        width: 49%;
    }
    section.connect{
        padding-bottom: 300px;
    }
    section.blog .blog_box_grid_item_author{
        border-left: 1px solid #fff254;
    }
}
@media screen and (max-width:940px){
    .header_buttons *{
        margin-left: 30px;
    }
    section.first .content_title{
        text-align: center;
    }
    section.sales .sales_container_card{
        width: 30%;
        margin-bottom: 100px;
    }
    section.sales .sales_container{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:830px){
    section.parthners .parthners_grid_item{
        width: 30%;
    }
    .header_info{
        display: none;
    }
    section.first .activity_container_box.box_3{
        display: none;
    }
    section.first .planet_dual{
        top: 0;
    }
}
@media screen and (max-width:800px){
    footer .footer_box{
        width: 45%;
        margin-bottom: 20px;
    }
    footer .wrapper{
        flex-wrap: wrap;
    }
    section.first .content_search_box.small{
        width: 45%;
        margin-bottom: 20px;
    }
    section.first .content_search.second{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    section.first .planet_3{
        opacity: 0;
        visibility: hidden;
    }
    section.sales .sales_container_title{
        width: 100%;
        text-align: center;
    }
    section.sales .sales_container_count{
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width:700px){
    section.sales .sales_container_card{
        width: 45%;
    }
    section.connect .advantages{
        position: static;
        margin-top: 60px;
    }
    section.connect{
        padding-bottom: 0;
    }
    section.form .wrapper{
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:660px){
    section.first .content_image{
        display: none;
    }
    section.first .activity_container_box.box_2{
        display: none;
    }
}
@media screen and (max-width:600px){
    section.connect .connect_container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    section.connect .connect_container_box{
        width: 45%;
        margin-bottom: 50px;
    }
    section.form .form_title{
        text-align: center;
    }
    section.first .content_search_box.small{
        width: 60%;
    }
    section.first .content_search{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    section.first .content_search_btn{
        margin: 20px 0;
    }
    section.parthners .parthners_grid_item{
        width: 45%;
    }
    section.search .content_search{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    section.search .content_search_btn{
        margin: 20px 0;
    }
    .header_buttons_offer{
        display: none;
    }
    .header_buttons_phone{
        display: block;
        width: 24px;
    }
    .header_buttons svg{
        height: 24px;
    }
}
@media screen and (max-width:500px){
    section.blog .blog_box{
        flex-wrap: wrap;
    }
    section.blog .blog_box_grid.row{
        width: 100%;
        margin-bottom: 10px;
    }
    section.blog .blog_box_grid.column{
        width: 100%;
    }
    section.sales .sales_container_card{
        width: 80%;
    }
    section.sales .sales_container{
        justify-content: center;
    }
    section.first .activity_container_box_title{
        font-size: 16px; 
    }
    section.first .activity_container_box_text{
        font-size: 14px;
    }
    section.first .activity_container_box{
        width: 120px;
    }
    section.first .activity_container_box.row svg{
        display: none;
    }
    section.first .content_title{
        font-size: 25px;
    }
    section.form .form_title{
        font-size: 25px;
    }
    section.search .search_title{
        font-size: 25px;
    }
    .menu_container_link{
        font-size: 20px;
    }
    section.form .form_container_box_text{
        text-align: center;
    }
}
@media screen and (max-width:475px){
    section.connect .connect_container_box{
        width: 80%;
    }
    section.connect .advantages .wrapper{
        padding-top: 150px;
    }
    .header_logo{
        font-size: 20px;
    }
    footer .footer_box{
        width: 100%;
    }
}
@media screen and (max-width:425px){
    .header_buttons svg{
        height: 20px;
    }
    .header_buttons_phone{
        height: 20px;
    }
    .header_buttons *{
        margin-left: 10px;
    }
    section.first .content_search_box svg{
        display: none;
    }
    section.search .content_search_box svg{
        display: none;
    }
    section.first .content_search_box.small{
        width: 100%;
    }
    section.first .content_search_box.small .content_search_box_text{
        text-align: center;
    }
}
@media screen and (max-width:375px){
    .header_logo{
        font-size: 18px;
    }
}